.ant-layout {
    min-height: 100vh;
    // background-image: radial-gradient(#df12ac, #121212, #121212);
    background: #f5f9fc;
    padding-top: 60px;

    .ant-layout-content {
        // overflow-x: auto;
    }

    .ant-layout-header,
    .ant-layout-footer {
        background: #fff;
        // color: #fff;
        backdrop-filter: blur(20px);
    }

    .ant-layout-header {
        box-shadow: 0px 0px 20px #cbdbe8;
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 9999;
        padding: 7px 30px;
    }

    .ant-layout-footer {
        padding: 0.75rem;
        backdrop-filter: blur(20px);
        font-size: 12px;
        color: #7a7a7a;
    }
}


.ant-layout-sider-trigger {
    display: none;
}

.ant-layout-sider {
    height: calc(100vh - 60px);
    padding: 10px !important;
    backdrop-filter: blur(20px);
    background: #fff !important;
    position: sticky !important;
    top: 60px;
    box-shadow: 0px 0px 20px #cbdbe8;
}

.ant-menu-dark {
    background: #0000 !important;
}

.ant-menu-dark .ant-menu-item-selected {
    background-color: #131729;
}

.ant-breadcrumb a {
    color: #000;
}

.ant-breadcrumb .ant-breadcrumb-separator {
    color: #000;
}

.ant-table {
    background: #fff !important;
    border: 1px solid #dddddd;
    border-radius: 8px !important;

    th,
    // td,
    table,
    thead {
        backdrop-filter: blur(200px);
        color: #000 !important;
    }

    table {
        border-radius: 8px !important;
    }
}

.ant-table-wrapper .ant-table-thead>tr>th,
.ant-table-wrapper .ant-table-thead>tr>td {
    background: #fff;
}

.ant-table-wrapper .ant-table-thead>tr>th:not(:last-child):not(.ant-table-selection-column):not(.ant-table-row-expand-icon-cell):not([colspan])::before,
.ant-table-wrapper .ant-table-thead>tr>td:not(:last-child):not(.ant-table-selection-column):not(.ant-table-row-expand-icon-cell):not([colspan])::before {
    background: #fff;
}

.ant-table-wrapper .ant-table:not(.ant-table-bordered) .ant-table-tbody>tr>td {
    border-bottom: 1px solid #cdcdcd;
}

.ant-table-wrapper .ant-table-thead>tr>th,
.ant-table-wrapper .ant-table-thead>tr>td {
    border-bottom: 1px solid #cdcdcd;
    background: #fff;
}

.ant-table-wrapper .ant-table:not(.ant-table-bordered) .ant-table-tbody>tr:last-child>td {
    border-bottom: 0px solid #f0f0f0;
}

.ant-table-wrapper .ant-table-tbody>tr.ant-table-row:hover>td,
.ant-table-wrapper .ant-table-tbody>tr>td.ant-table-cell-row-hover {
    background: #ffffff1f;
}

.ant-tabs .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
    color: #fff;
    // font-weight: bold;
}

.ant-tabs .ant-tabs-ink-bar {
    background: #ffcc00;
}

.ant-tabs {
    color: #fff;
    padding: 20px;
    backdrop-filter: blur(200px);
    background: #0000;
    border-radius: 15px;
    height: calc(100vh - 210px);
    overflow: auto;
    border-bottom: 1px solid #131729;
}

.ant-tabs .ant-tabs-tab:hover {
    color: #ffcc00;
}

.ant-tabs .ant-tabs-tab {
    color: #bababa;
}

.ant-tabs-nav-wrap {
    border-bottom: 1px solid #131729;
}

.ant-breadcrumb a:hover {
    color: #fff;
}

.ant-message-top {
    z-index: 999999;
}

.ant-form-item {
    label {
        flex-direction: row-reverse;
        gap: 7px;
        color: #000 !important;
        &.ant-checkbox-wrapper{
            flex-direction: inherit;
        }
    }

    input {
        background: #fff;
        color: #000 !important;
    }
    .ant-input-password{
        padding: 0 11px 0 0 ;
        input{
            padding: 4px 11px;
            border-radius: 6px;
        }
    }

}
.ant-input-affix-wrapper .anticon.ant-input-password-icon{
    color: #fff;
}
.ant-form-item .ant-form-item-label >label .ant-form-item-tooltip{
    color: #fff !important;
}
.ant-picker{
    background: rgba(43, 43, 43, 0.3803921569);
    color: #fff;
    input{
        color: #fff !important;
    }
    .ant-picker-clear{
        color: #fff;
    }
    path{
        fill: #fff;
    }
    
}
.ant-picker-ok{
    button{
        background: linear-gradient(45deg, #d412a3, #057dd3);
    }
}